body {
    --dot-bg: #010813;
    --dot-color: whitesmoke;
    --dot-size: 0.6px;
    --dot-space: 25px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
    font-family: Apercu, sans-serif;
}

.course-upload-container {
    background-color: #FFF0E5;
    color: #10162F;
    width: 80%;
    max-width: 700px;
    margin: 10vh auto;
    padding: 10px;
    border-radius: 5px;
}

.course-upload-container h2 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.course-upload-container .form-group {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}

.course-upload-container label {
    font-size: 18px;
    font-weight: 700;
    display: block;
}

.course-upload-container input[type="text"],
.course-upload-container textarea,
.course-upload-container select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group.checkbox {
    display: flex;
    align-items: center;
}

.form-group.checkbox label {
    display: flex;
    align-items: center;
}

.form-group.checkbox input[type="checkbox"] {
    margin-left: 10px;
}

.course-upload-container button[type="submit"] {
    width: 50%;
    background-color: #3A10E5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
}

.course-upload-container button[type="submit"]:hover {
    background-color: #2d0a9f;
}

.course-upload-container input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    cursor: pointer;
}


.course-upload-container input[type="file"]::-webkit-file-upload-button::before {
    content: 'Select File';
}

.course-upload-container input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

.course-upload-container input[type="file"]::before {
    content: 'No file chosen';
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #3A10E5;
    color: whitesmoke;
    font-weight: 700;
    cursor: pointer;
}